<!DOCTYPE html>
<html>
<body>
<h3>When & Where?</h3>

<p>A small justice-of-the-peace ceremony at <a href=https://www.atlasobscura.com/places/poet-s-seat-tower>Poet's Seat Tower</a> in Greenfield, MA on October 22nd, 2021.</p>

<h3>Photos?</h3>
<p><a href=https://annetaylorphoto.com>Anne Taylor</a> took <a href=https://annetaylorphotography.pixieset.com/clementeandvirginia/>amazing photos for us </a>.</p>
<h3>Names?</h3>
No name changes - Clemente Velasco-Annis & Virginia Partridge.



</body>
</html>