<!DOCTYPE html>
<html>
<body>
<h3>When & Where?</h3>
<p>A small justice-of-the-peace ceremony at <a href=https://www.atlasobscura.com/places/poet-s-seat-tower>Poet's Seat Tower</a> in Greenfield, MA on October 22nd, 2021.</p>

<h3>Photos?</h3>
<p><a href=https://annetaylorphoto.com>Anne Taylor</a> took <a href=https://annetaylorphotography.pixieset.com/clementeandvirginia/>amazing photos for us </a>.</p>

<h3>Names?</h3>
<p>No name changes - Clemente Velasco-Annis & Virginia Partridge.</p>

<h3>Honeymoon?</h3>
<p>It's in the works...</p>

<h3>Can I send you a gift?</h3>
<p>Wow, thanks! If you would like to contribute to our honeymoon fund, please <a href=https://paypal.me/ginnycp?country.x=US&locale.x=en_US>Paypal us</a>. Otherwise, please <a href="mailto:vcpartridge@gmail.com, clemente.velasco@gmail.com?subject=Send me your address">email us</a> for our physical address. </p>

</body>
</html>